.root {
    -fx-pref-width: 1400px;
    -fx-pref-height: 900px;
    -fx-font-family: 'Open Sans','Helvetica Neue', 'Arial', 'sans-serif';
}

#navigation {
    -fx-background-color: #5086d8;
    //-fx-border-color: black;
    -fx-pref-height: 122px;
    -fx-padding: 15 0 15 0;
}

#navigation-left {

}

#navigation-right {

}


#root-vbox {
}

#navigation .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-padding: 0 15 0 154;
}

#navigation .toggle-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.38;
    -fx-cursor: hand;
    -fx-padding: 0 12 0 17;
}

#navigation .toggle-button:hover, .toggle-button:selected, .toggle-button:armed {
    -fx-opacity: 0.8;
}

#navigation .toggle-button:selected, .toggle-button:armed {
    -fx-opacity: 1;
}

#navigation .toggle-button:focused, .toggle-button:visited {
}

#power-station-table {

}

#power-station-table.table-view .column-header {
    -fx-background-color: white;
}

#power-station-table .table-row-cell {
    -fx-border-width: 0;
    -fx-table-cell-border-color: transparent;
}

#power-station-table .table-column {
    -fx-padding: 9 7 5 7;
}

#power-station-table .table-row-cell{
}

#power-station-table .table-row-cell:odd{
    -fx-background-color: transparent;
}

#power-station-table .table-row-cell:selected {
    -fx-background-color: #5086d8;
}


#power-station-table .column-header.col-name > .label {
    -fx-alignment: center-left;
}
#power-station-table .col-name {
    -fx-alignment: center-left;
}

#power-station-table .col-canton {
    -fx-padding: 7;
}

#power-station-table .col-performance {
    -fx-alignment: center-right;
}


#power-station-table .col-first-commissioning {
    -fx-alignment: center-right;
}

#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical,
#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical > .track,
#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

#content-split-pane-vertical {
    //-fx-orientation: vertical;
}

#content-split-pane-horizontal {
    //-fx-orientation: horizontal;

}

#main-content-left {
    //-fx-background-color: purple;
}

#info-labels {
    -fx-font-size: 18px;

}

#info-image {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.48), 10, 0, 0, 0);
}

#info-labels .info-label-title {
    -fx-font-size: 37px;
}

.default-padding {
    -fx-padding: 21px;
}

#footer {
    //-fx-background-color: green;
}