.root {
    -fx-pref-width: 1400px;
    -fx-pref-height: 900px;
    -fx-font-family: 'Open Sans','Helvetica Neue', 'Arial', 'sans-serif';
}

#root-vbox {
}

#content-split-pane-vertical {
    //-fx-orientation: vertical;
}

#content-split-pane-horizontal {
    //-fx-orientation: horizontal;

}

#main-content-left {
    //-fx-background-color: purple;
}

#info-labels {
    -fx-font-size: 18px;

}

#info-image {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.48), 10, 0, 0, 0);
}

#info-labels .info-label-title {
    -fx-font-size: 37px;
}

.default-padding {
    -fx-padding: 21px;
}

#footer {
    //-fx-background-color: green;
}