#power-station-table {

}

#power-station-table .list-cell:filled:selected,
#power-station-table .tree-cell:filled:selected,
#power-station-table .table-row-cell:filled:selected,
#power-station-table .tree-table-row-cell:filled:selected,
#power-station-table .table-row-cell:filled > .table-cell:selected,
#power-station-table .tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: black;
}

#power-station-table.table-view .column-header,
#power-station-table.table-view .filler {
    -fx-background-color: white;
}

#power-station-table .table-row-cell {
    -fx-border-width: 0;
    -fx-table-cell-border-color: transparent;
}

#power-station-table .table-column {
    -fx-padding: 9 7 5 7;
}

#power-station-table .table-row-cell{
}

#power-station-table .table-row-cell:odd{
    -fx-background-color: transparent;
}

#power-station-table .table-row-cell:selected {
    -fx-background-color: #5086d8;
    -fx-text-fill: #ffffff !important;
}

#power-station-table .column-header.col-name > .label {
    -fx-alignment: center-left;
}
#power-station-table .col-name {
    -fx-alignment: center-left;
}

#power-station-table .col-canton {
    -fx-padding: 7;
}

#power-station-table .col-performance {
    -fx-alignment: center-right;
}


#power-station-table .col-first-commissioning {
    -fx-alignment: center-right;
}

#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical,
#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical > .track,
#power-station-table.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
#power-station-table.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}